#pageDim {
  padding: 0px;
  margin: 0px; }

#edPic {
  max-width: 40%;
  float: right; }

.bio {
  padding: 1%;
  text-indent: 20px;
  font-family: raledev; }

.bio p:first-letter {
  font-size: 150%; }

.bio p:first-line {
  font-style: bold; }

.clFl {
  clear: both; }

.contSpac {
  margin-top: 1%; }

#hdrBg {
  background: rgba(45, 45, 45, 0.9); }

#ed {
  background: rgba(45, 45, 45, 0.9);
  text-align: center;
  color: #ffffff; }

@font-face {
  font-family: 'edcodev';
  src: url("vendorfonts/bradbury/bradbury-oblique-webfont.ttf") format("truetype");
  src: url("vendorfonts/bradbury/bradbury-oblique-webfont.eot") format("embedded-opentype"), url("vendorfonts/bradbury/bradbury-oblique-webfont.woff") format("woff"), url("vendorfonts/bradbury/bradbury-oblique-webfont.svg") format("svg"); }
@font-face {
  font-family: 'edcodevpuente';
  src: url("vendorfonts/puente/puente_estrecho_st-webfont.ttf") format("truetype");
  src: url("vendorfonts/puente/puente_estrecho_st-webfont.eot") format("embedded-opentype"), url("vendorfonts/puente/puente_estrecho_st-webfont.woff") format("woff"), url("vendorfonts/puente/puente_estrecho_st-webfont.svg") format("svg"); }
@font-face {
  font-family: 'raledev';
  src: url("vendorfonts/raleway/raleway-regular-webfont.ttf") format("truetype");
  src: url("vendorfonts/raleway/raleway-regular-webfont.eot") format("embedded-opentype"), url("vendorfonts/raleway/raleway-regular-webfont.woff") format("woff"), url("vendorfonts/raleway/raleway-regular-webfont.svg") format("svg"); }
.hovF {
  margin: 0 auto;
  width: 26px;
  height: 26px;
  display: block;
  background: transparent url("images/fb-icon-bw.png") center top no-repeat; }

.hovF:hover {
  background-image: url("images/fb-icon.png"); }

.hovT {
  display: block;
  margin: 0 auto;
  background: transparent url("images/twitter-icon-bw.png") center top no-repeat;
  width: 26px;
  height: 26px; }

.hovT:hover {
  background-image: url("images/twitter-icon.png"); }

.hovG {
  margin: 0 auto;
  width: 26px;
  height: 26px;
  display: block;
  background: transparent url("images/gplus-icon-bw.png") center top no-repeat; }

.hovG:hover {
  background-image: url("images/gplus-icon.png"); }

.hovL {
  margin: 0 auto;
  width: 26px;
  height: 26px;
  display: block;
  background: transparent url("images/linkedin-icon-bw.png") center top no-repeat; }

.hovL:hover {
  background-image: url("images/linkedin-icon.png"); }

.scCol {
  padding: 0;
  margin: 0; }

.bodyBkg2 {
  background-color: #2d2d2d; }

/*#57585*/
.whtBox {
  background-color: #ffffff;
  height: 200px;
  width: 650px;
  border: 1px solid blue;
  margin: auto;
  opacity: 1;
  border-radius: 10px; }

.hero {
  height: 700px; }

.head1 {
  font-family: raledev;
  color: #ffffff;
  display: block;
  max-width: 60%;
  margin: 30px auto;
  padding: 10% 0 0 0;
  text-align: center; }

.bodyBkg {
  background-color: #959595; }

/*#57585a*/
.ftBkg {
  background-color: #0B0909;
  color: #fff;
  text-align: center;
  padding-top: 1%; }

.frmConHd {
  color: #fff;
  font-style: bold; }

.frmConHd2 {
  color: #f2c01b;
  font-style: bold; }

.portDots {
  color: #ffffff; }

textarea {
  background-color: #c0c0c0 !important;
  color: #fff !important;
  border-radius: 0 !important; }

input[type="text"] {
  background-color: #c0c0c0 !important;
  color: #fff !important;
  border-radius: 0; }

input[type="email"] {
  background-color: #c0c0c0 !important;
  color: #fff !important;
  border-radius: 0; }

input::-webkit-input-placeholder {
  color: #fff !important; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important; }

input:-ms-input-placeholder {
  color: #fff !important; }

textarea::-webkit-input-placeholder {
  color: #fff !important; }

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important; }

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important; }

textarea:-ms-input-placeholder {
  color: #fff !important; }

.form-control:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: rgba(242, 192, 27, 0.8);
  box-shadow: 0 1px 1px rgba(242, 192, 27, 0.075) inset, 0 0 8px rgba(242, 192, 27, 0.6);
  outline: 0 none; }

/*form-control:focus {
  border-color: #FF0000;
  box-shadow: 0 1px 1px rgba(242,192,27, 0.075) inset, 0 0 8px rgba(242,192,27, 0.6);
}*/
.whtIco {
  color: #fff !important; }

.btn {
  background: #f2c01b;
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none; }

.btn-primary {
  background: #f2c01b;
  color: #ffffff; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc; }

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none; }

.btn.sharp {
  border-radius: 0; }

.ftBor {
  border-left: 1px solid #fff; }

.socL {
  display: block;
  max-width: 22%;
  margin: auto;
  text-align: center; }

.conTxt {
  color: #ffffff; }

.landList {
  display: block;
  max-width: 100%;
  margin: auto;
  list-style-type: none;
  padding-bottom: 6%;
  text-align: left; }

.landList > li {
  padding: 0;
  margin: 0; }

.landList > li > a {
  color: #ffffff;
  font-size: 22px; }

.overHead {
  text-transform: uppercase;
  color: #f2c01b;
  line-height: 1.7;
  border-left: 7px solid #f2c01b;
  margin: 15% 0 8% 0;
  padding: 2% 0 2% 2%;
  font-weight: bold; }

.projSum {
  padding: 2%;
  color: white;
  text-indent: 20px; }

.projSum:first-letter {
  font-size: 150%; }

.projSum:first-line {
  font-style: bold; }

.subHd {
  display: inline-block;
  color: #6dadd5;
  text-shadow: 2px 2px 2px rgba(45, 45, 45, 0.6);
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #127cc0;
  padding: 1% 10% 1% 10%;
  margin-bottom: 2%;
  box-shadow: 5px 5px 5px #888888; }

.subTrans {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, from(rgba(45, 45, 45, 0.9), to(rgba(45, 45, 45, 0.6))));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-radial-gradient(rgba(45, 45, 45, 0.6), rgba(45, 45, 45, 0.9) 80%);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(rgba(45, 45, 45, 0.6), rgba(45, 45, 45, 0.9) 80%);
  /* IE 10 */
  background: -ms-radial-gradient(rgba(45, 45, 45, 0.6), rgba(45, 45, 45, 0.9) 80%);
  /* Opera 11.10+ */
  background: -o-radial-gradient(rgba(45, 45, 45, 0.6), rgba(45, 45, 45, 0.9) 80%); }

.wellSty, .wellStyP {
  background-color: #6dadd5;
  border: none;
  padding: 8% 0 8% 0;
  border-radius: 0;
  text-align: center;
  margin: 10% auto 5% auto; }

.wellStyP {
  background-color: #ffaaaa; }

.portHd {
  color: #f2c01b;
  font-weight: bold;
  font-size: 84px;
  border-bottom: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
  text-transform: uppercase;
  padding: 3%;
  margin: 1%;
  border-radius: 1%; }

.senter {
  text-align: center; }

.tabsCenter {
  width: 200px;
  margin: 0 auto; }

.effects {
  padding-left: 15px; }

.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 25%;
  overflow: hidden;
  height: 400px; }

.effects .img:nth-child(n) {
  margin-right: 5px; }

.effects .img:first-child {
  margin-left: -15px; }

.effects .img:last-child {
  margin-right: 0; }

.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 300px; }

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(45, 45, 45, 0.9);
  overflow: hidden;
  transition: all 0.5s; }

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer; }

a.close-overlay.hidden {
  display: none; }

a.expand, a.expand1 {
  width: 35%;
  height: 10%;
  display: block;
  position: absolute;
  z-index: 100;
  border: solid 3px #fff;
  text-align: center;
  color: #ffffff;
  line-height: 40px;
  font-weight: 700;
  font-size: 12px; }

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0; }

#effect-1 .overlay a.expand, #effect-1 .overlay a.expand1 {
  left: 0;
  right: 0;
  bottom: 25%;
  margin: 0 0 -10% 5%; }

#effect-1 .overlay a.expand1 {
  left: 0;
  right: 0;
  bottom: 25%;
  margin: 0 0 -10% 55%; }

#effect-1 .img.hover .overlay {
  height: 100%; }

h3.overHead3 {
  text-transform: uppercase;
  color: #127cc0;
  padding: 0 0 0 2%; }

.portH {
  color: #127cc0;
  padding: 1%;
  text-align: center;
  border-bottom: 2px solid #f2c01b;
  text-transform: uppercase; }

.weighty {
  color: #000000;
  font-weight: 400; }

.transHd {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, from(rgba(45, 45, 45, 0.6)), to(#ffffff));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-radial-gradient(#ffffff, rgba(45, 45, 45, 0.6) 72%);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(#ffffff, rgba(45, 45, 45, 0.6) 72%);
  /* IE 10 */
  background: -ms-radial-gradient(#ffffff, rgba(45, 45, 45, 0.6) 72%);
  /* Opera 11.10+ */
  background: -o-radial-gradient(#ffffff, rgba(45, 45, 45, 0.6) 72%); }

.effects .img {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, from(#959595), to(#c0c0c0));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-radial-gradient(#c0c0c0, #959595 95%);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(#c0c0c0, #959595 95%);
  /* IE 10 */
  background: -ms-radial-gradient(#c0c0c0, #959595 95%);
  /* Opera 11.10+ */
  background: -o-radial-gradient(#c0c0c0, #959595 95%); }

.preshdw {
  box-shadow: 0px -8px 4px -4px #939393 inset; }

.sidShdw {
  box-shadow: 0px 8px 4px -4px #2F2727 outset; }

.shwpad {
  padding-bottom: 24%; }

.shwpada {
  padding-bottom: 19%; }

.grad {
  background: -webkit-linear-gradient(red, blue);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, blue);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(red, blue);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, blue);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2F2727, #2f2f2f 5%);
  /* Standard syntax */ }

/*# sourceMappingURL=portfolio.css.map */
